@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-semibold;
}
/* main {
    min-height: 100vh;
  } */
